@import "tailwindcss";
@import "tw-animate-css";
@plugin "daisyui";

/* IranSans normal font */
@font-face {
  font-family: "IranSans";
  src: url("/fonts/IRANSans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* IranSans bold font(font-bold) */
@font-face {
  font-family: "IranSans";
  src: url("/fonts/IRANSans_Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* IranSans normal font */
@font-face {
  font-family: "IranSans";
  src: url("/fonts/IRANSans_Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* IranSans normal number font */
@font-face {
  font-family: "IranSansNum";
  src: url("/fonts/IRANSans(FaNum).ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IranSansNum";
  src: url("/fonts/IRANSans(FaNum)_Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IranSansNum";
  src: url("/fonts/IRANSans(FaNum)_Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "IranSansNum", "IranSans";
}

@theme {
  --breakpoint-lg: 1030px;
  --breakpoint-mid-md: 62rem;
  --breakpoint-xs: 31rem;
}

@layer utilities {
  .bg-border-stories {
    background: linear-gradient(315deg, #e03d96, #7d4c9e);
  }
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.story-slider {
  display: flex !important;
  justify-content: center !important;
}

.recharts-surface:focus,
.recharts-sector {
  outline: none !important;
}

.tooltip:before {
  font-size: 12px !important;
  padding: 2px 4px !important;
}
